/* common shared styles */

body{
    font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;


}
.text-primary{
    color: #FD6E0a;

}
/* nav related style */
.section-tittle{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.secion-discription{
    color: #757575;
    text-align: center;
    font-size: 18px;
}

nav{
    display:flex;
    justify-content:space-between;

    
}
.nav-tittle{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    

}
.btn-primary{
    border-radius: 5px;
    background-color: #f56a08;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px  35px;
}
nav > ul{
    display: flex;
    align-items: center;
    align-items: center;
    margin: 0 200;
}
nav li {
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* header related class */
.header{
    background-color:#FFF8F3;
    background-image: url('../img/back.png.png');
    background-repeat: no-repeat;
    background-position: bottom right;


}
.banner{
   padding: 30px 30px 0px 150px ;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.banner-content{
   max-width: 1000px;

}
.banner .profile-pic{
width: 500px;

}
.banner-greeting{
          font-size: 45px;
          color: #474747; 
          margin-bottom: 0;

}
.banner-tittle{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-discription{
    font-size: 35px;
    
}
.button-primary{
    background-color: #FD6E0A;
    size: 100px;
}
  /* main section styles */
  .main{
    max-width: 1140px;
    margin: 0 auto;

  }
  main section{
    margin-top: 130px;
  }
  /* about section styles */
  .about{

    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3 ;
    margin: 130px;

  }
  .about-info-container{
    display: flex;
    justify-content: space-around;
  }
  #what-i-do-description{
        padding: 30px 150px;

  }
.skil-container{
    display: flex;
    gap: 24px;
}
.skil{
   padding: 30px;
   border-radius: 5px;
   background: white
   box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06)
  
}
.skill-descrition{
     color: #757575;
}
/* Resume section styles */
.resume-column{
      color: #474747;
      font-size: 30px;
      font-weight: 700px;
}

    .resume-container{
        display: flex;
        gap: 50px;
    }                                                
